.container{
    background-color: gainsboro;
    display: grid;
    grid-template-columns: repeat(3, 30px);
    row-gap: 25px;
    column-gap: 100px;
}

.item{
    height: 100px;
    width: 100px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.item-1{
    background-color: orange;
    height: 125px;
    grid-column: 1;
    grid-row: 1 / span 2;
}

.item-2{
    background-color: green;
}

.item-3{
    background-color: violet;
}

.item-4{
    background-color: pink;
    grid-column-start: 1;
    grid-row-start: 2;
    width: 230px;
}

.item-5{
    background-color: blue;
    grid-column-start: 3;
}

.item-6{
    background-color: brown;
    grid-column-start: 1;
    grid-row-start: 3;
    width: 360px;
}